<div class="container"><app-header></app-header>
  <section class="container-fluid">
    <mat-card>
      <mat-card-title>
        <h3>Register to Continue</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #stepper [animationDuration]="duration">
          <mat-step [stepControl]="newSqUserForm">
            <form [formGroup]="newSqUserForm">
              <ng-template matStepLabel>Fill out your Basic Information</ng-template>
              <mat-form-field appearance="outline" class="p-1">
                <mat-label>First Name </mat-label>
                <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                <mat-hint align="end"></mat-hint>
                <input type="text" matInput formControlName="given_name" [ngModel]="given_name">
              </mat-form-field>
              <div class="spacer"></div>

              <mat-form-field appearance="outline" class="p-1">
                <mat-label>Last Name </mat-label>
                <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                <mat-hint align="end"></mat-hint>
                <input type="text" matInput formControlName="family_name" [ngModel]="family_name">
              </mat-form-field>
              <div class="spacer"></div>

              <mat-form-field appearance="outline" class="p-1">
                <mat-label>Email </mat-label>
                <mat-hint align="end"></mat-hint>
                <input type="email" matInput email="true" formControlName="email_address" [ngModel]="email">
                <mat-icon matPrefix class="material-icons">mail_outline</mat-icon>
              </mat-form-field>
              <div class="spacer"></div>

              <mat-accordion class="matAccordion">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-card-title>
                        <h2 class="centered">Address</h2>
                      </mat-card-title>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div formGroupName="address">
                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Address Line 1 </mat-label>
                      <mat-hint align="end"></mat-hint>
                      <input type="text" matInput formControlName="address_line_1" placeholder="Address Line 1">
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                    </mat-form-field>
                    <div class="spacer"></div>


                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Address Line 2 </mat-label>
                      <mat-hint align="end"></mat-hint>
                      <input type="text" matInput formControlName="address_line_2" placeholder="Address Line 2">
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                    </mat-form-field>
                    <div class="spacer"></div>

                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Locality</mat-label>
                      <mat-hint align="end"></mat-hint>
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                      <input type="text" matInput formControlName="locality" placeholder="Locality">
                    </mat-form-field>
                    <div class="spacer"></div>

                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Administrative District Level 1</mat-label>
                      <mat-hint align="end"></mat-hint>
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                      <input type="text" matInput formControlName="administrative_district_level_1"
                        placeholder="Administrative District Level 1">
                    </mat-form-field>
                    <div class="spacer"></div>

                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Postal Code</mat-label>
                      <mat-hint align="end"></mat-hint>
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                      <input type="text" matInput formControlName="postal_code" placeholder="Postal Code">
                    </mat-form-field>
                    <div class="spacer"></div>

                    <mat-form-field appearance="outline" class="p-1">
                      <mat-label>Country</mat-label>
                      <mat-hint align="end"></mat-hint>
                      <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                      <mat-select formControlName="country">
                        <mat-option *ngFor="let entry of Countries" [value]="entry.Country_Code_1"
                          (click)="getCountryPrefix(entry.Phone_Prefix)">
                          {{ entry.Country_Name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="spacer"></div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

              <mat-form-field appearance="outline" class="p-1">
                <mat-label>Company Name </mat-label>
                <mat-icon matPrefix class="material-icons">info_outline</mat-icon>
                <mat-hint align="end"></mat-hint>
                <input type="text" matInput formControlName="company_name" placeholder="Company Name">
              </mat-form-field>
              <div class="spacer"></div>

              <mat-form-field appearance="outline" class="p-1">
                <mat-label>Phone Number </mat-label>
                <mat-hint align="end"></mat-hint>
                <span matPrefix>{{ Phone_Prefix }} </span>
                <input type="tel" matInput tel="true" formControlName="phone_number" placeholder="Phone Number">
              </mat-form-field>
              <div class="spacer"></div>

            </form>

            <mat-card-actions class="align-buttons-center">
              <button mat-raised-button matStepperNext (click)="onSubmitSquareUser()" [disabled]="!newSqUserForm.valid">
                <mat-icon class="material-icons">chevron_right</mat-icon>
                Next
              </button>
            </mat-card-actions>
          </mat-step>
          <mat-step [stepControl]="addBillingInformation">
            <ng-template matStepLabel>Add Billing Card</ng-template>
            <mat-card class="p-2">
              <form id="payment-form">
                <div id="card-container"></div>
                <div id="card-button" class="align-buttons-center p-2">
                  <button mat-raised-button color="primary" class="text-whiter" (click)="getPayment()">
                    <mat-icon class="material-icons">attach_money</mat-icon>
                    Pay 1.00 For Card Verification
                  </button>
                </div>
              </form>
              <div id="payment-status-container"></div>
              <mat-card-actions class="align-buttons-center">
                <button mat-raised-button matStepperPrevious>
                  <mat-icon class="material-icons">chevron_left</mat-icon>
                  Back
                </button>
                <button mat-raised-button matStepperNext>
                  <mat-icon class="material-icons">chevron_right</mat-icon>
                  Next
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>User Created Successfully.
            <p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>

    </mat-card>

  </section>
</div>